<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\api\.venv\Scripts\python.exe|C:\api\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="django.core.wsgi.get_wsgi_application" />
        <add key="PYTHONPATH" value="C:/api/.venv/Lib/site-packages;C:/api" />
        <add key="WSGI_HANDLER" value="wfastcgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="testapi.settings" />
    </appSettings>
</configuration>